.App {
  text-align: center;
}

input[type=text] {
  width: 200px;
  padding: 12px;
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

ul {
  list-style: none;
  padding:0;
}

.todoBox {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  .todoInputBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    label {
      margin-bottom: 5px;
      > span {
        display: inline-block;
        width: 100px;
      }
    }
    .todoList {

    }
    .todoTag {
      display: flex;
      align-items: center;
      select {
        width: 226px;
      }
    }
    p {
      margin: 5px 0px;
      font-size: 12px;
    }
  }
  .todoListBox {
    height: 520px;
    margin-top:20px;
    padding: 0px 50px;
    .todoCheckBox {
      .todoId {
        margin: 0px 5px;
      }
    }
    .todoItem {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin-bottom: 5px;
      border: 1px solid #ddd;
      .todoTextBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 77px;
        > div {
          margin: 5px;
        }
        .tagList {
          color:red;
          margin: 0px 2px;
          &.complete {
            color:blue
          }
        }
      }
      .btnBox {
        width: 80px;
        > span {
          margin: 0 5px;
          cursor: pointer;
        }
        .deleteBtn {
          color:red;
        }
        .editBtn {
          color:blue;
        }
      }
      .completeBox {
        position: absolute;
        top:50%;
        left:80px;
        margin-top: -25px;
        padding: 5px;
        border: 8px solid blue;
        color: blue;
        background-color: #fff;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }

  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    li {
      padding: 5px 10px;
      margin: 0px 5px;
      border-radius: 10px;
      cursor: pointer;
      &.active {
        background-color: blue;
        color: #fff;
      }
    }
  }
}

.btn {
  width: 200px;
  padding: 14px;
  margin: 10px;
  background-color: blue;
  color:#fff;
  cursor: pointer;
  &.download {
    position: absolute;
    top:0;
    right:0;
  }
}




